*, *::before, *::after {
    box-sizing: border-box;
  }

* {
    margin: 0;
  }

html, body {
    height: 100%;
  }
  
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Poppins', sans-serif;
  }

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  #root, #__next {
    isolation: isolate;
  }

  #toast {
    padding: 25px 60px;
    background-color: white;
    box-shadow: 0px 5px 14px rgba(80, 80, 80, 0.25);
    color: #9B9B9B;
    font-weight: 300;
    border-radius: 7px;
    border-left: #FF355A 12px solid;
    position: absolute;
    bottom: 25px;
    left: 25px;
  }

  .hide {
    display: none;
  }

  section.hide-q {
    display: none;
  }

  .show {
    display: flex;
  }

  .container {
    background: linear-gradient(180deg, #7EAFFE 62.41%, rgba(126, 175, 254, 0) 62.55%, #F2F6FE 62.56%);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .website-logo {
    max-width: 300px;
    height: auto;
  }

  .brief {
    letter-spacing: 0.075em;
    font-weight: 400;
    font-size: 1rem;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF
  }

  main {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input {
    width: 49rem;
    height: 70px;
    background: #ECF4F8;
    box-shadow: 0px 5px 14px rgba(80, 80, 80, 0.25);
    border-radius: 10px;
    border: none;
    padding: 0 42px;
    margin-top: 10px;
  }

  input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 33px;
    color: #B4B4B4;
  }

  .labels {
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 30px;
    color: #FFFFFF;
    align-self: self-start;
  }

  .mt-56 {
    margin-top: 52px;
  }

  .quiz-container {
    display: flex;
    gap: 15px;
    margin-top: 12px;
  }

  .quiz-box {
    border-radius: 37px;
    width: 251px;
    height: 276px;  
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
  }

  .quiz-box-1 {
    background: linear-gradient(211.22deg, #F98ABA 2.03%, #FF6D91 28.07%, #FF5C6F 50.8%);
    border: 3px solid #CAD3FB;
  }

  .quiz-box img{
    max-width: 180px;
    height: auto;
    align-self: center;
  }
  
  .quiz-box h3{
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    color: #FFFFFF;
  }
  
  .quiz-box-2 {
    background: linear-gradient(211.22deg, #5DE7D0 2.03%, #49CEBB 30.96%, #49C2B2 52.28%);
    border: 3px solid #CDD6FB;
  }
  
  .quiz-box-3 {
    background: linear-gradient(209.51deg, #FFD99A 1.94%, #FFC071 31.32%, #FFAE53 52.67%);
    border: 3px solid #DFE5FF;
  }

  .button {
    background: #77AAFE;
    box-shadow: 0px 5px 14px rgba(119, 170, 254, 0.25);
    border-radius: 10px;
    color: white;
    width: 180px;
    height: 60px;
    cursor: pointer;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 30px;
    margin-top: 100px;
    transition: all 0.3s ;
  }

  .button:hover {
    background-color: #5293FF;
    transform: translateY(4px)
  }

  .selected {
    /* border: 7px solid #BCCE49; */
    transition: all 0.1s;
    background: linear-gradient(209.51deg, #5BC244 1.94%, #6ED158 31.32%, #66D14E 52.67%);
    position: relative;
  }

  .selected::after {
    position: absolute;
    content: 'Selected';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(58, 59, 107, 0.8);
    top: 0;
    left: 0;
    border-radius: 37px;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    color: #f1f1f1;
  }

  /* CSS FOR QUESTION */

  .math-quiz {
    background: linear-gradient(180deg, #FF6076 54.75%, rgba(126, 175, 254, 0) 54.76%, #F2F6FE 54.77%);
  }

  .geography-quiz {
    background: linear-gradient(180deg, #51D7C3 54.75%, rgba(126, 175, 254, 0) 54.76%, #F2F6FE 54.77%);
  }

  .sports-quiz {
    background: linear-gradient(180deg, #FFB55E 54.75%, rgba(126, 175, 254, 0) 54.76%, #F2F6FE 54.77%);
  }


  .question-screen {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #question-container p {
    padding: 40px 90px;
    border: 1px solid #F2F6FE;
    border-radius: 21px;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
  }

  #options-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 30px;
    margin: 95px 0 60px 0 ;
  }

  #options-container button {
    background: #FFFFFF;
    box-shadow: 0px 0px 17px 3px rgba(153, 153, 153, 0.25);
    border-radius: 30px;
    border: none;
    padding: 24px 100px;
    font-weight: 700;
    font-size: 26px;
    line-height: 48px;
    text-align: center;
    color: #3A3B6B;
    cursor: pointer;
    transition: all 0.3s;
    border-top: 5px solid #D7D7D7;
  }

  #options-container button:hover {
    background-color: #F8F8F8;
    transform: translateY(-5px);
  }

  #submit-answer-btn {
    background: #77AAFE;
    box-shadow: 0px 5px 14px rgba(119, 170, 254, 0.25);
    border-radius: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    padding: 20px 80px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
  }

  #submit-answer-btn:hover {
    background-color: #6D9CEB;
    transform: translateY(1px);
  }

  #play-again {
    background: #77AAFE;
    box-shadow: 0px 5px 14px rgba(67, 68, 69, 0.25);
    border-radius: 10px;
    font-weight: 600;
    font-size: 19.7541px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    padding: 20px 80px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 100px;
  }

  #play-again:hover {
    background-color: #6D9CEB;
    transform: translateY(-5px);
  }

  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
  }

  
  #options-container button.correct {
    color: white;
    background: #6ED158;
    border-top: 5px solid #5BC244;
    animation: pulse 0.5s;
    animation-delay: 0.2s;
    animation-fill-mode: both;
  }

  
  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px) rotate(-5deg); }
    50% { transform: translateX(5px) rotate(5deg); }
    75% { transform: translateX(-5px) rotate(-5deg); }
    100% { transform: translateX(0); }
  }

  #options-container button.incorrect {
    background-color: #4A4647;
    color: white;
    border-top: 5px solid #353132;
    animation: shake 0.5s;
    animation-delay: 0.2s;
    animation-fill-mode: both;
  }

  #result-container {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
  }


  .progress-container {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 30px;
    left: 50px;
    
  }
  
  .progress {
    width: 100%;
    height: 100%;
  }
  
  .progress-background {
    fill: none;
    stroke: rgba(255, 255, 255, 0.3);
    stroke-width: 2;
  }
  
  #progress-bar {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke: #f1f1f1;
  }
  
  #progress-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-shadow: 0px 4px 4px rgba(27, 17, 17, 0.25);
  }
  